<!DOCTYPE html>

<html>

	<head>
		<title>{{title}}</title>
		<script src="https://use.fontawesome.com/272ae54d3f.js"></script>
	    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	</head>
	
	<header>
		<p>Welcome, <span id="display-name"></span>{%if not isAuthenticated%}guest{% endif %}!</p>
		<a class="menu" href="/">Home</a>
		<p>|</p>
		{%if isAuthenticated%}
		<a class="menu" href="/mypolls">My Polls</a>
		<p>|</p>
		<a class="menu" href="/profile">Profile</a>
		<p>|</p>
		<a class="menu" href="/logout">Logout</a>
		{%else%}
		<a class="menu" href="/login">Login</a>
		{% endif %}
	</header>


	
		{% block content %}
		
		{% endblock %}
	
			
		</body>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/controllers/userController.client.js"></script>
		
		{% block scripts %}
		{% endblock %}
	</body>

</html>