<!DOCTYPE html>
{% set title = 'FCC Voting App | My Polls' %}
{%extends '_layout.html' %}


		{% block content %}
		<div class="container">
			<div class="btn-container">
				<a href="/addPoll" class="btn btn-add">Add Poll!</a>
				
			</div>
		</div>
		<div class="container">
			<h2>Below are polls you own<br />
			Select a poll to see the results and vote, or sign-in to make a new poll.</h3>
			<ul>
				{% for poll in polls %}
				<li><a href="/poll/{{poll._id}}">{{poll.question}}</a><a href="">(Delete)</a></li>
				{%endfor%}
			</ul>
			
		</div>
		{% endblock %}


</html>