<!DOCTYPE html>
{% set title = 'FCC Voting App' %}
{% extends '_layout.html' %}

	<body>
		{% block content %}
		<div class="container">
			<h2>{{poll.question}}</h2>
			<span id="forChart" data-votes="{{poll.votes}}" data-options="{{poll.options}}" data-question="{{poll.question}}"></span>
			<form action="/api/poll/{{poll._id}}" method="post">
				<label for="options">I'd like to vote for...:</label>
				<select name="option">
  					{% for option in poll.options %}
  					<option value="{{loop.index0}}">{{option}}</option>
  					{% endfor %}
  					<span id="options"></span>
				</select>
				<input type="submit" value="Submit" class="btn btn-add">
			</form>
			<a class="btn btn-add" target="_blank" href="https://twitter.com/intent/tweet?text=Hi%20I%20Just%20made%20a%20vote%20in%20https://fccdinamicweb-bati.c9users.io/api/poll/5a3a75206175980d729d28f5">Share on Twitter</a>
		</div>
	
		<div id="canvas-holder" style="width:40%">
        	<canvas id="chart-area" />
    	</div>
    	{% endblock %}
    	{% block scripts %}
		<script type="text/javascript" src="/controllers/aPollController.client.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
	    	{% endblock %}	
	</body>
</html>